project:
  type: website

website:
  title: "Kyle Mackenzie"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - os.qmd
      - learning-to-balance.qmd
      - fsae.qmd
      - machine-learning.qmd
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



